

.button__link {
    text-decoration: none;
}

description_readymeal {
    text-align: justify;
    padding: 5px;
    margin-bottom: 15px;
    width: 350px;
}

.indent__margin-bottom {
    margin-bottom: 8px;
    margin-top: 8px;
}

.ingridient__select {
    width: 230px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 16px;
    border: 1px solid #eaf5f9;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #7ac245;
    line-height: 16px;
    border-color: #b8e0e8;
    border-bottom-color: #9f56e5;
    margin-bottom: 5px;
}

.input__ingridient__description {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 16px;
    border: 1px solid #eaf5f9;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #7ac245;
    line-height: 16px;
    word-wrap: break-word;
    word-break: break-all;
    border-color: #b8e0e8;
    border-bottom-color: #9f56e5;
    margin-bottom: 5px;
}

.ingridient {
    width: 350px;
    border-radius: 5px;
    cursor: help;
    margin: 8px;
}

.ingridient__nameIngridient {
    color: red;
    margin-left: 6px;
    font-weight: bold;
    font-style: inherit;
    font-size: 16px;
    line-height: 20px;
    
    text-decoration: none;
}

.ingridient__description {
    background-color: rgba(255, 255, 255, 0.5);
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    color: rgb(98, 206, 206);
}

.ingridient__wrapper {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    background-color: rgba(251, 254, 196, 0.5);
    text-decoration: none;
    border-radius: 5px;
}

.action__picture {
    float: right;
    margin: 5px;
}

.ingridient__progress {
    cursor: pointer;
}

.input__ingridient {
    padding: 8px 16px;
    border: 1px solid #eaf5f9;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #bbe3ea;
    border-color: #b8e0e8;
    border-bottom-color: #9f56e5;
    margin-bottom: 5px;
    border-color: #b8e0e8;
    border-bottom-color: #9f56e5;
    background-color: rgba(255, 255, 255, 0.5);
}

h1 {
    margin-bottom: 8px;
}

.main-blank {
    padding: 5px 5px 5px 5px;
    width: 370px;
    height: auto;
    background: rgba(250, 253, 196, 0.3);
    border-radius: 5px;
    margin-bottom: 5px;
}

.recomended {
    background-color: palegoldenrod;
}

.select {
    margin-left: 30px;
}

.text {
    margin: 8px;
}

.no__reaction {
    border-left: 10px solid #fceade;
}


.reaction__low {
    border-left: 10px solid #FFDAB9;
}

.reaction__medium {
    border-left: 10px solid #FF6347;
}

.reaction__high {
    border-left: 10px solid #DC143C;
}

