.button__link {
    
    text-decoration: none;
}

.indent__margin-bottom {
    margin-bottom: 8px;
}

.ingridient {
    width: 350px;
    border-radius: 5px;
    cursor: help;
}

.ingridient__nameIngridient {
    margin-bottom: 6px;
    font-weight: bold;
    font-style: inherit;
    font-size: 16px;
    line-height: 20px;
    color: rgb(98, 206, 206);
}

ingridient__description {
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    color: rgb(98, 206, 206);
}

.ingridient__wrapper {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafdc4;
}

.ingridient__progress {
    cursor: pointer;
}

.recomended {
    background-color: palegoldenrod;
}

.todo__low {
    border-top: 10px solid #F45E6D;
}

.todo__medium {
    border-top: 10px solid #FFE761;
}

.todo__high {
    border-top: 10px solid #F45E6D;
}
