h1 {
margin-bottom: 5px;
}
.FirstName {
    font-weight: bold;
    font-style: inherit;
    font-size: 25px;
    line-height: 20px;
    color: #568fc6;
}

.MiddleName {
    font-weight: bold;
    font-style: inherit;
    font-size: 25px;
    line-height: 20px;
    color: #568fc6;
}

.Date {
    font-weight: bold;
    font-style: inherit;
    font-size: 20px;
    line-height: 20px;
    color: #568fc6;
}

.SocialNetwork {
    font-weight: bold;
    font-style: inherit;
    font-size: 20px;
    line-height: 20px;
    color: #568fc6;
}

.main-blank {
    padding: 5px 5px 5px 5px;
    width: 350px;
    height: 350px;
    background: rgba(250, 253, 196, 0.3);
    border-radius: 5px;
}


.button__link {
    text-decoration: none;
}

.indent__margin-bottom {
    margin-bottom: 8px;
}

.ingridient {
    width: 350px;
    border-radius: 5px;
    cursor: help;
}



ingridient__description {
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    color: rgb(98, 206, 206);
}

.ingridient__wrapper {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafdc4;
}

.ingridient__progress {
    cursor: pointer;
}

.recomended {
    background-color: palegoldenrod;
}
