@model ReadyMealActionViewModel 

@{
    ViewData["Title"] = "Create my ReadyMeal page";
}
<h1>Create new Meal</h1>

<form method="post" asp-controller="ReadyMeal" asp-action="Create">

    <div asp-validation-summary="ModelOnly"></div>

    <div class="indent__margin-bottom">
        <input class="input__ingridient" asp-for="Name" placeholder="Name" type="text" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="indent__margin-bottom">
        <input class="input__ingridient" asp-for="ChildReacrion" placeholder="ChildReacrion" type="text" />
        <span asp-validation-for="ChildReacrion"></span>
    </div>

    <div class="indent__margin-bottom">
        <input class="input__ingridient" asp-for="TeastyMeal" placeholder="TeastyMeal" type="text" />
        <span asp-validation-for="TeastyMeal"></span>
    </div>

    <div class="indent__margin-bottom">
        <input class="input__ingridient__description" asp-for="Comment" placeholder="Comment" type="text" />
        <span asp-validation-for="Comment"></span>
    </div>

    <div class="indent__margin-bottom">
        <input class="input__ingridient" asp-for="ReadyTime" placeholder="ReadyTime" type="date" />
        <span asp-validation-for="ReadyTime"></span>
    </div>

    <div>
        <input class="input__ingridient" asp-for="Picture" placeholder="Picture" type="image" />
        <span asp-validation-for="Picture"></span>
    </div>

    <div class="indent__margin-bottom">
        <input class="button" type="submit" value="Confirm" />
    </div>
</form>

@section css {
    <link href="~/css/ingridient.css" rel="stylesheet" asp-append-version="true" />
}
