@model SignUpViewModel

@{
    ViewData["Title"] = "SignUp page";
}

<h1>Sign up page</h1>

<form method="post" asp-controller="Account" asp-action="SignUp">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Applicationusername"></label>
        <input asp-for="Applicationusername" />
        <span asp-validation-for="Applicationusername"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label>
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="SignUp" />
    </div>
</form>
