@{
    ViewData["Title"] = "Index page";
}



@if (User.Identity.IsAuthenticated)
{
<h1>Welcome, @User.Identity.Name to Proper Nutrition application!</h1>

    <a class="button button__link" asp-controller="Ingridient" asp-action="Index">Go to My meal</a>
}

